@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  }
  
.hero{
    position: relative;
    background: #fff;
    
}

body { 
  font-family: "Open Sans", sans-serif;
  position: relative;
  background: transparent;
}

body {
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
  
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    position: relative;
  
}



.container img {
  float: left;
  width: 140px;
  height: auto;
} 

.container h2 {
font-size: 30px;
padding: 300px 0 0 140px;
}

.container p {
  color: #ffffff;
  padding-left: 140px;
}


.logo{
  padding-top: 60px;
  padding-left: 140px;
  width: 100%;
  height: auto;
}

ul {
  float: right;
  padding-top: 70px;
  padding-right: 30px;
  
}
  
ul li a{
  text-decoration: none;
  color: #ffffff;
  padding: 100px 20px;
  border: 2px solid transparent;
}
  
ul li {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
}
  
ul li a:hover{
    color:orange;
  }
  

.box{
    bottom: 50px;
}

span{
      color: orange;
}
  


.button {
  font-size: large;
  background-color: orange;
  background-image: linear-gradient(180deg, yellow, orange);
  border: none;
  color: rgba(0, 0, 0, 0.418);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  position: absolute; left: 135px; top:475px;
}

.button a{
  color: white;
  text-decoration: none;
}
.button:hover {
  background-color: #a86d00;
  background-image: linear-gradient(180deg, rgb(190, 190, 0), rgb(190, 124, 0));
}

.welcome {
  text-align: center;
  margin: 0 auto;
  padding: 150px 0 0 0;
  -webkit-text-stroke-width: px;
  -webkit-text-stroke-color: white;
  font-size: medium;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
  padding: 100px 0 0 0;
  box-sizing: border-box;
  color: #fff;
  font-size: small;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 20px 20px;
}


footer{ 
  justify-content: flex-end;
  display: flex-end;
 
}

.footerContainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialIcons a i{
  font-size: 2em;
  color: #000;
  opacity: 0.9;
}

.socialIcons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}






